<h3>计算年金保险本利和</h3>
<d-annuity-insurance-calclulator [principal]="20000" [periods]="10"></d-annuity-insurance-calclulator>

<h3>计算本利和</h3>
<d-calculator [principal]="10000" [rate]="0.05" [periods]="10"></d-calculator>

<h3>计算计息期数</h3>
<d-calculator [principal]="10000" [rate]="0.05" [fetureValue]="1000000"></d-calculator>

<h3>计算本金</h3>
<d-calculator [rate]="0.05" [periods]="10" [fetureValue]="1000000"></d-calculator>

<h3>计算利率</h3>
<d-calculator [principal]="10000" [periods]="10" [fetureValue]="1000000"></d-calculator>

<router-outlet></router-outlet>